@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  background: #f5f5f5;
}

.letter-spacing {
  letter-spacing: 1.4px;
}

.transition-height {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .transition-height-small {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
}

.nav-link-container {
  position: relative;
}

.nav-children {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  z-index: 1;
}

.nav-link-container:hover .nav-children {
  display: block;
}

.z-index-10 {
  z-index: 10;
}

.z-index-20 {
  z-index: 20;
}

.duration {
  transition: border 0.3s ease-in-out;
}
